#root {
  max-width: 100vw;
  
  text-align: center;
  --bg: #080B12;
  --text: #CFB3E6;
  --border-grd1: #6C6499;
  --border-grd2: #111222;
  --card-grd1: #1F193D;
  --card-grd2: #05060D;
  --radial-center: rgba(173,155,255,0.3);
  --radial-edge: rgba(11,12,22,0.3);
  --shadow: rgba(173,155,255,0.5);
}



